<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDDBEFtoKIe-cOao_gbRug1MJL54d1QLck</string>
	<key>GCM_SENDER_ID</key>
	<string>67745629090</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Project.eatmuch</string>
	<key>PROJECT_ID</key>
	<string>foodapp-b848b</string>
	<key>STORAGE_BUCKET</key>
	<string>foodapp-b848b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:67745629090:ios:624256b02decb7e73d28fb</string>
</dict>
</plist>