<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAGiYQ6MtbrRyWFLHfvlCKn8F-MaGU8P-s</string>
	<key>GCM_SENDER_ID</key>
	<string>514329913447</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Project.eatmuch</string>
	<key>PROJECT_ID</key>
	<string>eatmuch-9ead6</string>
	<key>STORAGE_BUCKET</key>
	<string>eatmuch-9ead6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:514329913447:ios:caa8f77d614c3fe0b54cc2</string>
</dict>
</plist>